{% extends 'layout.html'%}
{%block content%}
    <div class="salon_info" class="jumbotron">
      <div class="phone">
        <p>Phone:(847)249-4812</p>
      </div>
    <div class="">
      <p class="underline">Hours:</p>
    <div class="info">
      <ul>
        <li><p>MONDAY : 1:30pm-7pm</p></li>
        <li><p>TUESDAY : 10am-7pm</p></li>
        <li><p>WEDNESDAY : Closed</p></li>
        <li><p>THURSDAY : 10am-7pm</p></li>
      </ul>
    </div>
    <div class="info">
      <ul>
        <li><p>FRIDAY : 10am-7pm</p></li>
        <li><p>SATURDAY : 9am-7pm</p></li>
        <li><p>SUNDAY : 10am-2pm</p></li>
        <li style="list-style-type: none">-</li>
      </ul>
    </div>
    <p style="text-indent: 40px">*HOURS MAY VARY</p>
    </div>
  </div>
{%endblock content%}
